# Association Rules for book python Assignment

In [11]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori,association_rules
#import matplotlib.pyplot as plt

In [12]:
book = pd.read_csv('book.csv')

In [13]:
book # already rule formatted

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,1,0,0,1,1,1,0,1,1
1996,0,0,0,0,0,0,0,0,0,0,0
1997,0,0,0,0,0,0,0,0,0,0,0
1998,0,0,1,0,0,0,0,0,0,0,0
1999,0,0,0,0,0,0,0,0,0,0,0

In [14]:
frequent_itemsets = apriori(book, min_support=0.005, max_len=3,use_colnames = True)

In [15]:
frequent_itemsets # supported frequent items

     support                        itemsets
0     0.4230                      (ChildBks)
1     0.2475                      (YouthBks)
2     0.4310                       (CookBks)
3     0.2820                      (DoItYBks)
4     0.2145                        (RefBks)
..       ...                             ...
219   0.0130   (ItalCook, GeogBks, Florence)
220   0.0115   (ItalAtlas, ItalArt, GeogBks)
221   0.0090    (ItalArt, GeogBks, Florence)
222   0.0125  (ItalAtlas, ItalArt, ItalCook)
223   0.0095   (ItalArt, ItalCook, Florence)

[224 rows x 2 columns]

In [16]:
Arules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)

In [10]:
Arules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ChildBks),(YouthBks),0.4230,0.2475,0.1650,0.390071,1.576044,0.060308,1.233750
1,(YouthBks),(ChildBks),0.2475,0.4230,0.1650,0.666667,1.576044,0.060308,1.731000
2,(ChildBks),(CookBks),0.4230,0.4310,0.2560,0.605201,1.404179,0.073687,1.441240
3,(CookBks),(ChildBks),0.4310,0.4230,0.2560,0.593968,1.404179,0.073687,1.421069
4,(DoItYBks),(ChildBks),0.2820,0.4230,0.1840,0.652482,1.542511,0.064714,1.660347
...,...,...,...,...,...,...,...,...,...
1049,"(ItalArt, Florence)",(ItalCook),0.0125,0.1135,0.0095,0.760000,6.696035,0.008081,3.693750
1050,"(ItalCook, Florence)",(ItalArt),0.0175,0.0485,0.0095,0.542857,11.192931,0.008651,2.081406
1051,(ItalArt),"(ItalCook, Florence)",0.0485,0.0175,0.0095,0.195876,11.192931,0.008651,1.221827
1052,(ItalCook),"(ItalArt, Florence)",0.1135,0.0125,0.0095,0.083700,6.696035,0.008081,1.077704
1053,(Florence),"(ItalArt, ItalCook)",0.1085,0.0375,0.0095,0.087558,2.334869,0.005431,1.054861